<!DOCTYPE html>
<html>
<head>
  <title>OlddragonManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="bower_components/milligram/dist/milligram.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
